.left{
	height: 220px;
	margin-left: 50px;
	float: left;
	width: 70%;
}
.left p{
	font-size: 16px;
	color: #555555;
}
#m h1{
	color: #006699;
	font-family: "arial, helvetica, sans-serif";
}
#m h1:hover{
	color: #1371DF;
}
#m p{
	color: cornflowerblue;
}
.main_pic img{
	margin-top: 30px;
	width: 300px;
	height: 200px;
	float: right;
	background-color: #089BA2;
}
#m {
	margin-left: 60px;
	width: 90%;
}
#bottom {
	height: 20px;
	float: right;
}
#bottom a{
	color: #1E90FF;

}
#bottom a:hover{
	color: #CE2626;
}
#bottom h1{
	font-size: 15px;
}